<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вхід</title>
</head>

<body>
<h1>Вхід</h1>
<form method="POST" action="/login">
    <p><label for="username">Логін</label></p>
    <p><input id="username" type="text" name="username" placeholder="Ваш логін"></p>
    <p><label for="password">Пароль</label></p>
    <p><input id="password" type="password" name="password" placeholder="Ваш пароль"></p>
    <p><button type="submit">Увійти</button></p>
    <p><a href="/register">Зареєструватись</a></p>
</form>
</body>
</html>