<!DOCTYPE html>
<html lang="uk" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вхід</title>
    <link rel="stylesheet" href="/css/messages.css" />
</head>
<body>
<p class="header_main_text">Вхід</p>
<p th:if="${regErrorMsg}" th:text="${regErrorMsg}" class="error_msg"></p>
<form method="POST" action="/login">
    <p><label for="login">Логін</label></p>
    <p><input id="login" type="text" name="login" placeholder="Ваш логін"></p>
    <p><label for="password">Пароль</label></p>
    <p><input id="password" type="password" name="password" placeholder="Ваш пароль"></p>
    <p><button type="submit">Увійти</button></p>
    <p><a href="/register">Зареєструватись</a></p>
</form>
</body>
</html>