<!doctype html>
<html lang="uk" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<h1>Реєстрація</h1>
<p th:if="${regErrorMsg}" th:text="${regErrorMsg}" class="error_msg"></p>
<form method="post" action="/register">
    <p><label for="login">Логін</label></p>
    <p><input id="login" type="text" name="login" placeholder="Ваш логін"></p>
    <p><label for="password">Пароль</label></p>
    <p><input id="password" type="password" name="password" placeholder="Ваш пароль"></p>
    <p><button type="submit">Зареєструватись</button></p>
    <p><a href="/login" class="cancel_button">До сторінки входу</a></p>
</form>
</body>
</html>