.error_msg {
    color: red;
}

.header_row, .notes_table {
    width: 100%;
}

.header_row {
    display: grid;
    grid-template-columns: 270px 200px 1fr 100px;
    margin-bottom: 20px;
}

.header_main_text {
    vertical-align: middle;
    font-size: 16pt;
    font-weight: bold;
}

.add_button, .logout_button, .register_button, .cancel_button, .submit_button {
    vertical-align: middle;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.add_button, .register_button {
    background-color: #199319;
}

.logout_button, .cancel_button {
    background-color: #0000aa;
}

.submit_button {
    background-color: #888888;
    border: none;
    font-size: 12pt;
}

.note_multiline_text {
    word-break: break-all;
    padding-left: 3px;
    padding-right: 3px;
}

.note_content {
    width: 80%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    text-align: left;
}

.note_actions_set, .note_access, .note_name_textbox {
    vertical-align: middle;
    display: flex;
    flex-direction: row;
}