<!doctype html>
<html lang="uk" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${pageTitle}">Default Title</title>
</head>

<body>
<h1 th:text="${header}">Default Header</h1>
<p th:if="${editErrorMsg}" th:text="${editErrorMsg}" style="color: red;"></p>
<form action="#" th:action="@{/note/save}" th:object="${note}" method="POST">
    <input type="hidden" field="*{id}" name="id"
              th:value="${existing_note.id}" autocomplete="off" readonly>
    <p>Title:</p>
    <p><input type="text" field="*{title}" name="title"
              th:value="${existing_note.title}" autocomplete="off"></p>
    <p>Content:</p>
    <p><textarea maxlength="10000" rows="20" field="*{content}" name="content" autocomplete="off"
                 th:text="${existing_note.content}"></textarea></p>
    <p>Access type:</p>
    <p>
    <div th:each="accessTypeItem : ${T(com.goit.letscode.notes.AccessType).values()}">
        <div style="display: flex; flex-direction: row;">
            <input type="radio" field="*{accessType}" name="accessType" th:value="${accessTypeItem}"
                   th:checked="${existing_note.accessType} == ${accessTypeItem}"></p>
            <label th:for="${#ids.next('accessType')}"
                   th:text="${accessTypeItem.getTypeValue()}">model</label>
        </div>
    </div>
    <p><input type="submit" value="Зберегти"></p>
</form>
<p><a href="/note/list">Скасувати</a></p>
</body>
</html>