<!doctype html>
<html lang="uk" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${page_title}">Default Title</title>
</head>

<body>
<h1 th:text="${header}">Default Header</h1>
<p th:if="${editErrorMsg}" th:text="${editErrorMsg}" style="color: red;"></p>
<form action="#" th:action="@{/note/save}" th:object="${note}" method="POST">
    <input type="hidden" field="*{id}" name="id"
              th:value="${existing_note.id}" autocomplete="off" readonly>
    <div>Ім'я:</div>
    <div><input type="text" field="*{title}" name="title"
              th:value="${existing_note.title}" autocomplete="off"></div>
    <div><textarea style="width: 80%; height: 250px;" maxlength="10000" rows="8" field="*{content}" name="content" autocomplete="off"
                 th:text="${existing_note.content}"></textarea></div>
    <div th:each="accessTypeItem : ${T(com.goit.letscode.notes.AccessType).values()}">
        <div style="display: flex; flex-direction: row;">
            <input type="radio" field="*{accessType}" name="accessType" th:value="${accessTypeItem}"
                   th:checked="${existing_note.accessType} == ${accessTypeItem}"></p>
            <label th:for="${#ids.next('accessType')}"
                   th:text="${accessTypeItem.getTypeValue()}">model</label>
        </div>
    </div>
    <div><input type="submit" value="Зберегти"></div>
</form>
<div><a href="/note/list">Скасувати</a></div>
</body>
</html>