<!doctype html>
<html lang="uk" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список нотаток</title>
</head>
<body>
<div style="display: flex; flex-direction: row; margin-bottom: 20px;">
    <span th:text="${notes_header}" style="vertical-align: middle; font-size: 16pt; margin-right: 5px;"></span>
    <a href="/note/create" style="vertical-align: middle; padding: 5px; background-color: #199319; color: white; text-decoration: none;">
     Створити нотатку
    </a>
</div>
<table border="0">
    <thead>
    <tr>
        <th><b>Ім'я</b></th>
        <th><b>Вміст</b></th>
        <th><b>Доступ</b></th>
        <th><b>Дії</b></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${notes}">
        <td th:text="${note.title}"></td>
        <td th:text="${note.content}"></td>
        <td th:text="${note.accessType.getTypeValue()}"></td>
        <td>
            <div style="display: flex; flex-direction: row;">
                <form action="#" th:action="@{/note/delete}" th:object="${noteToDel}" method="POST">
                    <input type="hidden" field="*{id}" name="id" th:value="${note.id}">
                    <input type="image" name="submit" src="/img/trashbox.svg" alt="Delete" width="24">
                </form>
                <form action="#" th:action="@{/note/edit}" th:object="${noteToEdit}" method="POST">
                    <input type="hidden" field="*{id}" name="id" th:value="${note.id}">
                    <input type="image" name="submit" src="/img/edit.svg" alt="Edit" width="24">
                </form>
                <a th:href="@{'/note/share/' + ${note.id}}">
                    <img src="/img/link.svg" width="24" />
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>