<!doctype html>
<html lang="uk" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список нотаток</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="header_row">
    <div class="header_main_text" th:text="${notes_header}"></div>
    <div><a class="hyperlink_add_button" href="/note/create">Створити нотатку</a></div>
    <div>&nbsp;</div>
    <div style="text-align: right"><a class="hyperlink_logout_button" href="/logout">Logout</a></div>
</div>
<table class="notes_table">
    <thead>
    <tr>
        <th style="width: 30%;"><b>Ім'я</b></th>
        <th style="width: 48%;"><b>Вміст</b></th>
        <th style="width: 11%;"><b>Доступ</b></th>
        <th style="width: 11%;"><b>Дії</b></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${notes}">
        <td th:text="${note.title}" style="word-break: break-all;"></td>
        <td th:text="${note.content}" style="word-break: break-all;"></td>
        <td th:text="${note.accessType.getTypeValue()}"></td>
        <td class="note_actions_set">
            <form action="#" th:action="@{/note/delete}" th:object="${noteToDel}" method="POST">
                <input type="hidden" field="*{id}" name="id" th:value="${note.id}">
                <input type="image" name="submit" src="/img/trashbox.svg" alt="Delete" width="24">
            </form>
            <form action="#" th:action="@{/note/edit}" th:object="${noteToEdit}" method="POST">
                <input type="hidden" field="*{id}" name="id" th:value="${note.id}">
                <input type="image" name="submit" src="/img/edit.svg" alt="Edit" width="24">
            </form>
            <a th:href="@{'/note/share/' + ${note.id}}">
                <img src="/img/link.svg" width="24"/>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>